*.swp
.vscode/
.idea/
nogit/


slurm-*.out
slurm_logs/

__pycache__/
*.egg-info/

*.html

cromwell-executions/
cromwell-workflow-logs/
persist/
final-cromwell/

woof/_version.py
test_woof/
.Rproj.user

templates/
